{% extends 'dx/base.html' %}

{% block title %}Witaj w DX Master Advisor{% endblock title %}

{% block content %}
        <div class="jumbotron">
            <div class="container">
                <h1>DX Master Advisor</h1>
                <p><strong>Dodaj</strong> swój log<br />
                <strong>Dowiedz się</strong> kogo złapać na falach<br />
            {% if not user.is_authenticated %}  
                <p><a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Zarejestruj się... &raquo;</a></p>
            {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4><center><b>Najnowsze Spoty</b></center></h4>
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center">DX de</th>
                                <th class="col-md-1 text-center">Freq [kHz]</th>
                                <th class="col-md-1 text-center">DX</th>
                                <th class="col-md-4 text-center">Comments</th>
                                <th class="col-md-1 text-center">UTC</th>
                                <th class="col-md-1 text-center">Locator</th>
                            </tr>
                        </thead>
                        <tbody>
            {% for record in ten_recent_spots %}
                            <tr>
                            {% if record.interesting %}
                                <td class="success"><p class="text-left">{{ record.spot.spotter }}</p></td>
                            {% else %}
                                <td><p class="text-left">{{ record.spot.spotter }}</p></td>
                            {% endif %}
                            {% if record.interesting %}
                                <td class="success"><p class="text-right">{{ record.spot.frequency }}</p></td>
                            {% else %}
                                <td><p class="text-right">{{ record.spot.frequency }}</p></td>
                            {% endif %}
                            {% if record.interesting %}
                                <td class="success"><p class="text-left"><strong>{{ record.spot.station }}</strong></p></td>
                            {% else %}
                                <td><p class="text-left"><strong>{{ record.spot.station }}</strong></p></td>
                            {% endif %}
                            {% if record.interesting %}
                                <td class="success"><p class="text-left">{{ record.spot.comment }}</p></td>
                            {% else %}
                                <td><p class="text-left">{{ record.spot.comment }}</p></td>
                            {% endif %}
                            {% if record.interesting %}
                                <td class="success"><p class="text-center">{{ record.spot.time|date:"H:i" }}</p></td>
                            {% else %}
                                <td><p class="text-center">{{ record.spot.time|date:"H:i" }}</p></td>
                            {% endif %}
                            {% if record.interesting %}
                                <td class="success"><p class="text-center">{{ record.spot.locator }}</p></td>
                            {% else %}
                                <td><p class="text-center">{{ record.spot.locator }}</p></td>
                            {% endif %}
                            </tr>
            {% endfor %}
                        </tbody>
                    </table>
 
                </div>
            </div>
        </div>
 # Progress: {{ progress }}
{% endblock content %}