{% extends 'dx/base.html' %}
{% load staticfiles %}

{% block title %}Witaj w DX Master Advisor{% endblock title %}

{% block ajax %}
    <script src="{% static '/static/js/jquery-2.1.4.min.js' %}"></script>
    <script>
        var last_id = {{ last_id }};

        $(document).ready(function poll(){
            $.ajax({ url: '{% url "new_spot" %}',
                success: function(data){
                    last_id = data.id;
                    var rows_count = document.getElementById('spots').tBodies[0].rows.length;
                    document.getElementById('spots').tBodies[0].deleteRow(rows_count-1);
                    var new_row = document.getElementById('spots').tBodies[0].insertRow(0);
                    new_row.innerHTML = data.spot;

                    if (data.interesting){
                        new_row.className = 'success';
                    };
                },
                fail: function(){
                    last_id += 1;
                },
                dataType: "json",
                complete: poll,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    id: last_id
                },
                method: "POST"
            })
        })
    </script>
{% endblock ajax %}

{% block content %}
        <div class="jumbotron">
            <div class="container">
                <h1>DX Master Advisor</h1>
                <p><strong>Dodaj</strong> swój log<br />
                <strong>Dowiedz się</strong> kogo złapać na falach<br />
            {% if not user.is_authenticated %}  
                <p><a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Zarejestruj się... &raquo;</a></p>
            {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4><center><b>Najnowsze Spoty</b></center></h4>
                    <table id="spots" class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center">DX de</th>
                                <th class="col-md-1 text-center">Freq [kHz]</th>
                                <th class="col-md-1 text-center">DX</th>
                                <th class="col-md-4 text-center">Comments</th>
                                <th class="col-md-1 text-center">UTC</th>
                                <th class="col-md-1 text-center">Locator</th>
                            </tr>
                        </thead>
                        <tbody>
            {% for record in ten_recent_spots %}
                            <tr{% if record.interesting %} class="success"{% endif %}>
                                <td><p class="text-left">{{ record.spot.spotter }}</p></td>
                                <td><p class="text-right">{{ record.spot.frequency }}</p></td>
                                <td><p class="text-left"><strong>{{ record.spot.station }}</strong></p></td>
                                <td><p class="text-left">{{ record.spot.comment }}</p></td>
                                <td><p class="text-center">{{ record.spot.time|date:"H:i" }}</p></td>
                                <td><p class="text-center">{{ record.spot.locator }}</p></td>
                            </tr>
            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock content %}
