{% extends "dx/base.html" %}

{% block content %}
<div class="container">
    <div style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Dodaj swój log</h4>
            </div>
            <div style="padding-top:15px" class="panel-body" >
                <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Dodaj</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
