{% if not user.is_authenticated %}
                    <form class="navbar-form navbar-right form-inline" role="form" method="post" action="{% url 'login' %}">
                        <input class="form-control" name="username" type="text" placeholder="Login">
                        <input class="form-control" name="password" type="password" placeholder="Hasło">
                        <input type="hidden" name="next" value="{{ request.path }}" />
            {% csrf_token %}
                        <button type="submit" class="btn btn-success">Zaloguj</button>
                    </form> 
{% else %}
                    <div class="btn-group pull-right">
                        <a class="btn btn-primary navbar-btn" href="/operator/">
                            {{ user.username }}
                        </a>
                        <button type="button" class="btn btn-primary navbar-btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "profile" %}">Account data</a></li>
                            <li><a href="{% url "operator" %}">Operator details</a></li>
                            <li role="presentation" class="divider"></li>
                            <li><a href="{% url "logout" %}">Wyloguj</a></li>
                        </ul>
                    </div>
{% endif %}